body{
    background-color: rgb(76, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family:sans-serif;
}
.app-container{
    background-color: rgb(8, 8, 8);
    width: 350px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    color: #f0f0f0;
}
.header{
    text-align: center;
    margin-bottom: 20px;
}

.app-icon{
    background-color: transparent;
    margin: 0 auto 10px;
    border:2px
}

.header h1{
    font-size: 1.5em;
    margin: 5px 0 2px;
    font-weight: 700;
}

.header p{
    font-size:  0.9em;
    color:#aaa;
    margin-bottom: 0;
}

.separator{
    border:0;
    height: 1px;
    background-color: #f40e0e;
    margin: 25px 0;
}
.trasaction-section{
    margin-bottom: 25px;
}
.trasaction-section label{
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 5px;
}

input[type="number"]{
    width:100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: #f0f0f0;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 5px;
}

input[type="number"]::placeholder{
    color: #888;
}

#deposit-btn{
    margin-bottom: 10px;
}

button{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1em;
}
.deposit-btn{
    background-color: #00cc66;
    color: #1a1a1a;
}
.deposit-btn:hover{
    background-color: #0d9a53;
}

.withdraw-btn{
    background-color: #ff3366;
    color: white;
}

.withdraw-btn:hover{
    background-color: #c1103c;
}

.balance-label{
    font-size: 1em;
    font-weight: 600;
    color: #aaa;
    margin-bottom: 5px;
}
.balance-amount{
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin: 0;
}